@import "tailwindcss";

@theme {
  --color-main-bg: #0e1114;
  --color-main-text: #eaecee;
  --color-main-divider: #2a2f35;
  --color-main-accent: #1de9b6;
  --color-main-accent-hover: #00c9a7;
  --color-main-accent-active: #00c9a7;
  --color-main-accent-disabled: #00c9a7;
}
