---

---

<form>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" name="username" id="username" placeholder="youremail@domain.com" autofocus required/>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="Enter your password" required/>
  </div>
  <button class="cta_bttn" type="submit">Submit</button>
  <a href="/register">
    ¿No tienes cuenta? ¡registrate aqui!
  </a>
</form>

<style>
  form {
    padding-top: 32px;
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  form a {
    text-align: center;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  label {
    font-weight: bold;
  }

  input {
    padding: 8px;
    border: 1px solid var(--main-divider-color);
    border-radius: 4px;
  }

  input:focus {
    outline: 2px solid var(--main-accent-color-active);  
  }

</style>