---
import LoginButton from "../components/LoginButton.tsx";

const token = Boolean(Astro.cookies.get("auth")?.value);
---

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const sidebar = document.querySelector("aside");
    const navbar = document.getElementById("dropdown-menu");
    const menuIcon = document.getElementById("toggler");

    if (!menuIcon || !sidebar || !navbar) return;

    menuIcon.addEventListener("click", () => {
      sidebar.classList.toggle("hidden");
      navbar.classList.toggle("hidden");
      navbar.classList.add("flex");
    });
  });
</script>

<header>
  <nav class="sm:py-3 px-2">
    <div class="flex flex-col justify-center items-center">
      <a class="text-main-text decoration-0 text-2xl sm:text-3xl font-black transition-all duration-300 hover:scale-110 hover:text-main-accent-active"
      href="/">
        Cloudboard
      </a>
      <span class="hidden sm:block text-sm text-secondary-text">
        For UX analitycs
      </span>
    </div>
    <div class="flex items-center">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width={1.5} stroke="currentColor" class="size-8 mx-2 sm:hidden block cursor-pointer transition-all duration-300 hover:scale-110 hover:text-main-accent-active" id="toggler">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
      <ul class="flex" id='dropdown-menu'>
        <!-- <li class="transition-all duration-300 hover:scale-110 hover:text-main-accent-active"><a href="/docs">Docs</a></li> -->
        <LoginButton isLogedIn={token} client:load/>
      </ul>
    </div>
  </nav>

</header>

<style>
  header {
    display: flex;
    grid-column: 1 / -1;
    grid-row: 1;
    border: 1px solid #2A2F35;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  nav ul {
    
    align-items: center;
    list-style: none;
    gap: 16px;
  }
 
</style>