<header>
  <nav>
    <div class="flex flex-col justify-center items-center">
      <a class="text-main-text decoration-0 text-3xl font-black transition-all duration-300 hover:scale-110 hover:text-main-accent-active"
      href="/">
        Cloudboard
      </a>
      <span class="text-sm text-secondary-text">
        For UX analitycs
      </span>
    </div>
    <ul>
      <li class="transition-all duration-300 hover:scale-110 hover:text-main-accent-active"><a href="/docs">Docs</a></li>
      <button class="cta_bttn transition-all duration-300">
        <a href="/login">Login</a>
      </button>
    </nav>
    </ul>
</header>

<style>
  header {
    display: flex;
    grid-column: 1 / -1 ;
    grid-row: 1;
    border: 1px solid #2A2F35;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 24px;
  }

  nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 16px;
  }
 
</style>