---
import { actions } from "astro:actions";

const token = Astro.cookies.get("auth")?.value;
console.log("HeaderNav token:", token ? "Present" : "Not present");
---

<header>
  <nav class="sm:px-6">
    <div class="flex flex-col justify-center items-center">
      <a class="text-main-text decoration-0 text-3xl font-black transition-all duration-300 hover:scale-110 hover:text-main-accent-active"
      href="/">
        Cloudboard
      </a>
      <span class="text-sm text-secondary-text">
        For UX analitycs
      </span>
    </div>
    <ul>
      <li class="transition-all duration-300 hover:scale-110 hover:text-main-accent-active hidden md:block"><a href="/docs">Docs</a></li>
      <form action={token ? actions.logout : null} method="POST">
        <input type="hidden" name="logout" value="/" />
        <button class="cta_bttn transition-all duration-300" type="submit">
          <a href={token ? "/" : "/login"}>
            {token ? 
              "Logout" : 
              "Login"
            }
          </a>
        </button>
      </form>
    </nav>
    </ul>
</header>

<style>
  header {
    display: flex;
    grid-column: 1 / -1 ;
    grid-row: 1;
    border: 1px solid #2A2F35;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 16px;
  }
 
</style>