<header>
  <nav>
    <a href="/"><b>Cloudboard</b>For UX analitycs</a>
    <ul>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/projects">Documentation</a></li>
      <li><a href="/reports">Reports</a></li>
      <button class="cta_bttn">
        <a href="/login">Login</a>
      </button>
    </nav>
    </ul>
</header>

<style>
  header {
    display: flex;
    grid-column: 1 / -1 ;
    grid-row: 1;
    border: 1px solid #2A2F35;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 24px;
  }

  nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
  }

  nav a {
    text-decoration: none;
    padding: 10px;
  }

  nav a b {
    font-size: 30px;
    margin-right: 8px;
 }

 
</style>