---
---

<aside class='hidden sm:block w-full bg-main-bg md z-10'>
  <nav>
    <ul>
      <li><a href="/dashboard">Dashoard</a></li>
      <li><a href="/profile{id}">Profile</a></li>
      <li><a href="/analytics">Analytics</a></li>
      <li><a href="/domains">Domains</a></li>
    </ul>
  </nav>
</aside>

<style>
  aside {
    grid-column: 1;
    grid-row: 2 / 3;
    border: 1px solid var(--main-divider-color);
    border-radius: 10px;
    padding: 20px;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    gap: 8px;
  }
  nav ul li a {
    display: block;
    padding: 6px;
    border-radius: 3px;
    border-bottom: 1px solid var(--main-divider-color);
  }
  nav ul li a:hover {
    border-bottom: var(--main-accent-color-hover) 1px solid;
    color: var(--main-accent-color-hover);
    cursor: pointer;
  }
</style>