---
const { id } = Astro.params;
---

<aside class='hidden sm:block w-full text-center sm:text-start bg-main-bg z-10'>
  <nav>
    <ul>
      <li><a href="/dashboard">Dashoard</a></li>
      <li><a href="/profile/4242564">Profile</a></li>
      <li><a href="/analytics" aria-disabled="true" tabindex="-1" class='cursor-not-allowed opacity-50'>Analytics</a></li>
      <li><a href="/domains">Domains</a></li>
    </ul>
  </nav>
</aside>

<style>
  aside {
    grid-column: 1;
    grid-row: 2 / 3;
    border: 1px solid var(--main-divider-color);
    border-radius: 10px;
    padding: 20px;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    gap: 8px;
  }
  nav ul li a {
    display: block;
    padding: 12px;
    border-radius: 3px;
    border-bottom: 1px solid var(--main-divider-color);
  }
  nav ul li a:hover {
    border-bottom: var(--main-accent-color-hover) 1px solid;
    color: var(--main-accent-color-hover);
    cursor: pointer;
  }

  @media (width >= 640px) {
    nav ul li a {
      padding: 8px;
    }
  }
</style>