---
import Icon from '../components/Icon'
const { id } = Astro.params;

const options = [
{ id: "dashboard", label: "Dashboard", path: "/dashboard", icon: "dashboard" },
{ id: "profile", label: "Profile", path: "/profile", icon: "profile" },
{ id: "analytics", label: "Analytics", path: "/analytics", icon: "analytics" },
{ id: "domains", label: "Domains", path: "/domains", icon: "domains" },
]
---

<aside class='hidden sm:block w-full text-center sm:text-start bg-main-bg z-10'>
  <nav>
    <ul>
      {
        options.map((option) => (
          <li>
            <a href={option.path} class=>
              <Icon name={option.icon} />
              <span>{option.label}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</aside>

<style>
  aside {
    grid-column: 1;
    grid-row: 2 / 3;
    border: 1px solid var(--main-divider-color);
    border-radius: 10px;
    padding: 20px;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    gap: 8px;
  }
  nav ul li a {
    display: flex;
    gap: 16px;
    padding: 12px;
    border-radius: 3px;
    border-bottom: 1px solid var(--main-divider-color);
  }
  nav ul li a:hover{
    border-bottom: var(--main-accent-color-hover) 1px solid;
    color: var(--main-accent-color-hover);
    cursor: pointer;
  }

  @media (width >= 640px) {
    nav ul li a {
      padding: 8px;
    }
  }
</style>