---
---

<section id="hero" class="p-2 md:p-4">
	<h1 class="text-2xl sm:text-3xl md:text-4xl font-bold">¡Welcome to Cloudboard!</h1>
	<h2 class="sm:text-l md:text-xl text-balance">To get started, paste our Tracker.js in your project.</h2>
	<section class="my-4">
		<p class="text-sm text-secondary-text">
			<a class="font-semibold" href="/login">Login</a>
			to see your personal dashboard.
		</p>
	</section>
	<button class="cta_bttn" type="button">Read our docs</a>
</section>


<style>

	#hero {
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 8px
	}
</style>
